In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pickle
data ={
    'ubicacion':['zona_1','zona_2','zona_1','zona_3','zona_2'],
    'tamano_hogar':[3,4,2,5,3],
    'costo_instalacion':[5000,6000,4500,7000,5200],
    'energia_generada':[3000,3200,2500,4000,2900],
    'ahorro_real':[1800,2000,1500,2300,1750]
}
df =pd.DataFrame(data)
df

  ubicacion  tamano_hogar  costo_instalacion  energia_generada  ahorro_real
0    zona_1             3               5000              3000         1800
1    zona_2             4               6000              3200         2000
2    zona_1             2               4500              2500         1500
3    zona_3             5               7000              4000         2300
4    zona_2             3               5200              2900         1750